body{
    background: linear-gradient(90deg, #a6a6a6, #ffffff);
}

.barra-navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

ul li{
    display: inline-block;
    padding: 0px 10px;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

.grupo-formulario {
    margin-bottom: 15px;
}

.grupo-formulario label {
    display: block;
    margin-bottom: 5px;
}

.grupo-formulario input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.grupo-formulario input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
}

.grupo-formulario input[type="submit"]:hover {
    background-color: #0056b3;
}