.barra-navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

ul li{
    display: inline-block;
    padding: 0px 10px;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

.imagen{
    border: 5px black solid;
    border-radius: 32px;
    width: 300px;
}

.contenedor-productos{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.contenedor-texto{
    position: relative;
}

#t1{
    position: absolute;
    left: 5px;
}
#t2{
    position: absolute;
    left: 515px;
}
#t3{
    position: absolute;
    left: 1030px;
}